<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br />
    <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :actor_id %><br />
    <%= f.collection_select :actor_id, Actor.all, :id, :name %>
  </div>
  
  
  <!-- <select name="role[movie_id]">
    <% Movie.all.each do |m| %>
    <option value="<%= m.id %>" selected><%= m.title %></option>
    <% end %>
  </select> -->
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
