<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @vote.movie.title %>
</p>

<p>
  <b>User:</b>
  <%= @vote.user.name %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
