<!DOCTYPE html>
<html>
<head>
  <title>Amdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_url %> |
    <%= link_to "Directors", directors_url %> |
    <%= link_to "Movies", movies_url %> |
    <%= link_to "Roles", roles_url %> |
    <%= link_to "Actors", actors_url %> |
    <%= link_to "Votes", votes_url %> |
    <%= link_to "Users", users_url %> |
    <%= link_to "Sign In", "/login" %> 
  </nav>
  <% if cookies["user_id"].present? %>
    <h2>You are <%= User.find_by_id(cookies["user_id"]).name %></h2>
  <% end %>
  <%= yield %>

</body>
</html>
